body{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 100%;
    

    
}

.header{
    flex-basis: 100%;
}

.sideliste{
    flex-basis: 20%;
}
.body{
    flex-basis: 80%;
}
.footer{
    flex-basis: 100%;
}

